In [17]:
import pandas as pd
import os

# Set path to processed folder
processed_dir = r"C:\Users\Students\Desktop\flax_projects\SDI_Tanzania_Healthcare_Delays\data\processed"

facility_full = pd.read_csv(os.path.join(processed_dir, 'facility_full.csv'))

In [18]:
facility_full.head()

,facility_id,facility_level,publicprivate,ruralurban,transport_central_a,transport_central_hr,transport_central_mn,has_sharps,vaccine_store2,provider_present1,provider_male1,provider_post1,provider_cadre1,provider_educ1,provider_mededuc1,num_staff,num_med,num_nonmed,has_roster,salary_delay
0,1,3.0,1,3,1,2,30,2.0,0.0,1.000000,0.333333,1,4,2.0,2.333333,1,1,1,1,0.000000
1,10,2.0,1,2,1,3,0,2.0,0.0,0.900000,0.400000,5,4,2.0,2.100000,2,2,1,1,0.000000
2,100,2.0,1,1,1,1,30,2.0,1.0,0.181818,0.181818,5,4,2.0,2.272727,2,2,1,1,0.666667
3,101,3.0,3,1,1,2,0,2.0,1.0,0.500000,0.125000,5,4,1.0,2.125000,2,2,1,1,0.000000
4,102,3.0,5,2,4,0,15,2.0,1.0,0.538462,0.230769,5,3,2.0,2.230769,2,2,2,1,0.800000

In [19]:
facility_full.info()

<class 'pandas.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   facility_id           401 non-null    int64
 1   facility_level        381 non-null    float64
 2   publicprivate         401 non-null    int64
 3   ruralurban            401 non-null    int64
 4   transport_central_a   401 non-null    int64
 5   transport_central_hr  401 non-null    int64
 6   transport_central_mn  401 non-null    int64
 7   has_sharps            325 non-null    float64
 8   vaccine_store2        315 non-null    float64
 9   provider_present1     401 non-null    float64
 10  provider_male1        401 non-null    float64
 11  provider_post1        401 non-null    int64
 12  provider_cadre1       401 non-null    int64
 13  provider_educ1        401 non-null    float64
 14  provider_mededuc1     401 non-null    float64
 15  num_staff             401 non-null    int64
 16  num_med               401 non-null    int64
 17  num_nonmed            401 non-null    int64
 18  has_roster            401 non-null    int64
 19  salary_delay          401 non-null    float64
dtypes: float64(8), int64(12)
memory usage: 62.8 KB

In [20]:
facility_full.describe()

,facility_id,facility_level,publicprivate,ruralurban,transport_central_a,transport_central_hr,transport_central_mn,has_sharps,vaccine_store2,provider_present1,provider_male1,provider_post1,provider_cadre1,provider_educ1,provider_mededuc1,num_staff,num_med,num_nonmed,has_roster,salary_delay
count,401.000000,381.000000,401.000000,401.000000,401.000000,401.000000,401.000000,325.000000,315.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.0,401.000000
mean,242.703242,2.640420,1.950125,1.551122,1.249377,1.266833,15.995012,1.966154,0.187302,0.614822,0.347270,4.192020,3.269327,1.982544,2.289897,1.957606,1.835411,0.937656,1.0,0.553256
std,140.178170,0.610732,1.489129,0.691379,0.665324,1.913406,16.420718,0.212479,0.390774,0.223976,0.217328,1.520045,0.892906,0.645906,0.339614,1.007819,0.942254,0.873844,0.0,0.430259
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.080000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,0.000000
25%,114.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.500000,0.200000,4.000000,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.0,0.000000
50%,252.000000,3.000000,1.000000,1.000000,1.000000,1.000000,15.000000,2.000000,0.000000,0.600000,0.333333,5.000000,4.000000,2.000000,2.250000,2.000000,2.000000,1.000000,1.0,0.666667
75%,365.000000,3.000000,3.000000,2.000000,1.000000,2.000000,30.000000,2.000000,0.000000,0.750000,0.500000,5.000000,4.000000,2.000000,2.480000,2.000000,2.000000,1.000000,1.0,1.000000
max,536.000000,3.000000,5.000000,3.000000,5.000000,20.000000,50.000000,2.000000,1.000000,1.000000,1.000000,5.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,1.0,1.000000

In [21]:
facility_full.isnull().sum()

facility_id              0
facility_level          20
publicprivate            0
ruralurban               0
transport_central_a      0
transport_central_hr     0
transport_central_mn     0
has_sharps              76
vaccine_store2          86
provider_present1        0
provider_male1           0
provider_post1           0
provider_cadre1          0
provider_educ1           0
provider_mededuc1        0
num_staff                0
num_med                  0
num_nonmed               0
has_roster               0
salary_delay             0
dtype: int64

In [29]:
# Impute with mode
for col in ['facility_level', 'has_sharps', 'vaccine_store2']:
    facility_full[col].fillna(facility_full[col].mode()[0])

In [28]:
facility_full.isnull().sum()

facility_id              0
facility_level          20
publicprivate            0
ruralurban               0
transport_central_a      0
transport_central_hr     0
transport_central_mn     0
has_sharps              76
vaccine_store2          86
provider_present1        0
provider_male1           0
provider_post1           0
provider_cadre1          0
provider_educ1           0
provider_mededuc1        0
num_staff                0
num_med                  0
num_nonmed               0
has_roster               0
salary_delay             0
dtype: int64

In [30]:
for col in ['facility_level', 'has_sharps', 'vaccine_store2']:
    print(col, facility_full[col].unique())

facility_level [ 3.  2. nan  1.]
has_sharps [ 2. nan  0.  1.]
vaccine_store2 [ 0.  1. nan]

In [31]:
for col in ['facility_level', 'has_sharps', 'vaccine_store2']:
    mode_value = facility_full[col].mode()[0]   # get the most frequent value
    facility_full[col] = facility_full[col].fillna(mode_value)

# Verify
print(facility_full[['facility_level', 'has_sharps', 'vaccine_store2']].isnull().sum())

facility_level    0
has_sharps        0
vaccine_store2    0
dtype: int64

In [32]:
# -----------------------------
# Feature engineering
# -----------------------------
# Medical staff ratio
facility_full['med_staff_ratio'] = facility_full['num_med'] / facility_full['num_staff']

In [33]:
# Proportion of staff present
facility_full['prop_present'] = facility_full['provider_present1']

In [34]:
# Facility readiness score
facility_full['readiness_score'] = (
    facility_full['has_sharps'] +
    facility_full['vaccine_store2'] +
    facility_full['transport_central_a'] +
    facility_full['transport_central_hr'] +
    facility_full['transport_central_mn']
)

In [35]:
facility_full.columns

Index(['facility_id', 'facility_level', 'publicprivate', 'ruralurban',
       'transport_central_a', 'transport_central_hr', 'transport_central_mn',
       'has_sharps', 'vaccine_store2', 'provider_present1', 'provider_male1',
       'provider_post1', 'provider_cadre1', 'provider_educ1',
       'provider_mededuc1', 'num_staff', 'num_med', 'num_nonmed', 'has_roster',
       'salary_delay', 'med_staff_ratio', 'prop_present', 'readiness_score'],
      dtype='str')

In [37]:

# -----------------------------
# Save final clean dataset
# -----------------------------
import os

processed_dir = r"C:\Users\Students\Desktop\flax_projects\SDI_Tanzania_Healthcare_Delays\data\processed"
os.makedirs(processed_dir, exist_ok=True)

clean_path = os.path.join(processed_dir, "facility_full_clean.csv")
facility_full.to_csv(clean_path, index=False)

# Verify saved file
print("Saved:", os.listdir(processed_dir))

Saved: ['facility_core.csv', 'facility_full.csv', 'facility_full_clean.csv', 'provider_facility.csv']

In [38]:
facility_full.head()

,facility_id,facility_level,publicprivate,ruralurban,transport_central_a,transport_central_hr,transport_central_mn,has_sharps,vaccine_store2,provider_present1,...,provider_educ1,provider_mededuc1,num_staff,num_med,num_nonmed,has_roster,salary_delay,med_staff_ratio,prop_present,readiness_score
0,1,3.0,1,3,1,2,30,2.0,0.0,1.000000,...,2.0,2.333333,1,1,1,1,0.000000,1.0,1.000000,35.0
1,10,2.0,1,2,1,3,0,2.0,0.0,0.900000,...,2.0,2.100000,2,2,1,1,0.000000,1.0,0.900000,6.0
2,100,2.0,1,1,1,1,30,2.0,1.0,0.181818,...,2.0,2.272727,2,2,1,1,0.666667,1.0,0.181818,35.0
3,101,3.0,3,1,1,2,0,2.0,1.0,0.500000,...,1.0,2.125000,2,2,1,1,0.000000,1.0,0.500000,6.0
4,102,3.0,5,2,4,0,15,2.0,1.0,0.538462,...,2.0,2.230769,2,2,2,1,0.800000,1.0,0.538462,22.0